body {
	background: url(../img/bg.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	color: #555555;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

h1, h2, cite{
	color: #888888;
	font-size: 18px;
	padding: 3px 10px 3px 10px;
	border-bottom: solid 1px #EAEAEA;
	border-top: solid 1px #EAEAEA;
}

h1 {
	margin-top: 40px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 5px;
}

cite {
	font-size: 14px;
	font-weight: normal;
}

em {
	color: #769531;
	font-style: normal;
}

b {
	color: #E0542F;
}

s {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
	margin-right: 5px;
}

a, u {
	color: #0075a6;
}

u {
	text-decoration: none;
	font-style: normal;
}

a:hover {
	text-decoration: underline;
	color: #00b4ff;
}


p, ul{
	font-size: 14px;
	padding: 3px 0px 3px 0px;
	text-align: justify;
}

ul {
	padding-left: 30px;
	font-size: 14px;
	list-style: square;
}

ul li {
	margin-bottom: 5px;
}

#header {
	position: fixed;
	background: #363636 url(../img/stripe-bg.gif);
	height: 25px;
	width: 100%;
	border-bottom: 3px solid cyan;
	left: 0pt;
	top: 0px;
	left: 0px;
}

#logo {
	height: 20px;
	width: 75px;
	background: url(../img/logo.png);
	margin-top: 2px;
	margin-left: 2px;
}

#title {
	font-size: 14px;
	color: white;
	font-weight: bold;
	padding: 5px 5px;
}

#menu {
	position: absolute;
	right: 0px;
	top: 2px;
}

#menu a {
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding-right: 8px;
	text-decoration: none;
}

#menu a:hover {
	color: #CACACA;
	text-decoration: none;
}

#content {
	padding: 20px 30px;
	line-height:1.6;
}